<br /><br />
<h1>Total Price: $@ViewBag.RefreshedTotal</h1>
<br />
<p>Return to previous page to make changes, or proceed to checkout</p>
<br />

<form action="/Home/Checkout" method="post">
    <input type="hidden" name="ShipType" value="@ViewBag.ShipType" />
    <input type="hidden" name="Exosuit" value="@ViewBag.Exosuit" />
    <input type="hidden" name="PlanetName" value="@ViewBag.PlanetName" />
    <input type="hidden" name="Price" value="@ViewBag.RefreshedTotal" />
    <input type="hidden" name="DateStart" value="@ViewBag.DateStart" />
    <input type="hidden" name="DateEnd" value="@ViewBag.DateEnd" />
    <input type="hidden" name="Rating" value="@ViewBag.Rating" />
    <input type="hidden" name="CompanyName" value="@ViewBag.CompanyName" />
    <input type="hidden" name="PlanetImage" value="@ViewBag.PlanetPic[int.Parse(ViewBag.PlanetIndex)]" />
    <input type="hidden" name="Refundable" value="@ViewBag.Refundable" />
    <input type="submit" value="Proceed to Checkout" style="color: black"/>
</form>