@*@model Tra_Verse.Models.EmailFormModel*@

@*@Html.AntiForgeryToken()*@
@*@using (Html.BeginForm("ConfirmationPage", "Home")
    {*@

<h1>@TempData["OrderAlready"]</h1>
<h1>@TempData["UpdatedOrder"]</h1>
@ViewBag.EditedConfirmationPage

<form action="/Home/ConfirmationPageEmail" method="post" type>

    <div name="Message" class="form-group">

        <h1 @*@Html.ValueFor(model => model.Message)*@>Confirmation Page</h1><br />
        <hr />
        <h4>Confirmation of your vacation with Traverse</h4>
        <br />
        <p>Planet Name: @ViewBag.Planet</p>
        <p>Destination Rating: @ViewBag.Rating</p>
        <p>Total Price: @ViewBag.Price</p>
        <p>Ship Choice:</p>

        @if (ViewBag.Ship == "1")
        {
            <img src="https://cdn.mos.cms.futurecdn.net/eJCVbwUPfV9Mx7sH7bdPRj-970-80.jpg" height="50" width="65" />
        }
        else if (ViewBag.Ship == "2")
        {
            <img src="http://www.ex-astris-scientia.org/scans/factfiles/raven-cgi.jpg" height="50" width="65" />
        }
        else
        {
            <img src="https://vignette.wikia.nocookie.net/memory-gamma/images/9/99/Renovamen_Class.jpg/revision/latest?cb=20160303004949" height="50" width="65" />
        }

        <p name="DateStart">Start Date: @ViewBag.Start</p>
        <p name="DateStart">End Date: @ViewBag.End</p>


        <p>Charge has been made to: @ViewBag.Name</p>
        <p>With the following card information: @ViewBag.Card</p>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10"></div>
        <input type="submit" class="btn btn-default" value="Send Confirmation Email" />
        <p>*This information will send to the email associated with this account</p>
    </div>
</form>

<input type="button" value="Edit this order" onclick="location.href='@Url.Action("EditTrip", "Home")'" class="btn-default" />
<input type="button" value="Delete this order" onclick="location.href='@Url.Action("DeleteTrip", "Home")'" class="btn-danger" />

@*<a href="/Home/EditTrip">EDIT YOUR CURRENT TRIP</a>*@
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")'" class="btn-default" />
@*<a class="btn-default" href="/Home/Index">Return To Home Page</a>*@
