@*@model Tra_Verse.Models.EmailFormModel*@

@*@Html.AntiForgeryToken()*@
@*@using (Html.BeginForm("ConfirmationPage", "Home")
    {*@

<h1>@TempData["OrderAlready"]</h1>
<h1>@TempData["UpdatedOrder"]</h1>
@ViewBag.EditedConfirmationPage
@TempData["UpdatedOrder"]
@{
    string path = "/Content/Images/Planets/";
    
    }


<form action="/Email/ConfirmationPageEmail" method="post" type>

    <div name="Message" class="form-group">

        <h1>Confirmation Page</h1><br />
        <hr />
        <h4>Confirmation of your vacation with TraVerse through @ViewBag.Vacation.CompanyName</h4>
        <br />
        <img src="@String.Concat(path, ViewBag.Vacation.PlanetImage)" height="200" width="200" align="middle" />
        <p>Planet Name: @ViewBag.Vacation.PlanetName</p>
        <p>Destination Rating: @ViewBag.Vacation.Rating</p>
        <p>Total Price: @ViewBag.Vacation.Price</p>
        <p>Ship Choice:</p>

        @*<form action="/User/TotalPrice" method="post">
            <input type="hidden" name="BasePrice" value="@priceBeforeTotal" />

            <input type="hidden" name="BasePrice" value="@priceBeforeTotal.ToString()" />
            <input type="hidden" name="Rating" value="@ViewBag.Yelp["businesses"][p]["rating"]" />
            <p>Exosuit for exploration outside aircraft? </p>
            <input type="radio" value="Yes" name="ExoSuit" /><span>Yes +$500,000</span> <br />
            <input type="radio" value="No" name="ExoSuit" /><span>No +$0</span><br />
            <br />
            <img src="@shipImages[0]" height="50" width="65" />
            <input type="radio" value="1" name="ShipType" /> <span>+$100,000</span><br />
            <img src="@shipImages[1]" height="50" width="65" />
            <input type="radio" value="2" name="ShipType" /><span>+$200,000</span><br />
            <img src="@shipImages[2]" height="50" width="65" />
            <input type="radio" value="3" name="ShipType" /><span>+$300,000</span><br />
            <label>Start Date: </label><input type="date" name="DateStart" value="8018-12-14" />
            <label>End Date: </label><input type="date" name="DateEnd" value="8018-12-15" /><br />
            <input type="hidden" name="PlanetIndex" value="@ViewBag.TripIndices.PlanetIndex">
            <input type="hidden" name="CompanyIndex" value="@ViewBag.TripIndices.CompanyIndex">
            <input type="hidden" name="NumberOfDays" value="@ViewBag.TripIndices.NumberOfDays">
            <input type="hidden" name="TravelIndex" value="@ViewBag.TripIndices.TravelIndex">

            <input type="submit" value="Total Price" />
        </form>*@

        <p name="DateStart">Start Date: @ViewBag.Vacation.DateStart</p>
        <p name="DateStart">End Date: @ViewBag.Vacation.DateEnd</p>


        <p>Charge has been made to: @ViewBag.User.NameOnCard</p>
        <p>With the following card information: @ViewBag.User.CreditCard</p>
        <p>Refunds Allowed? @ViewBag.Vacation.Refundable</p>
        <p>Space Suit Available: @ViewBag.Vacation.Exosuit</p>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10"></div>
        <input type="submit" class="btn btn-default" value="Send Confirmation Email" />
        <p>*This information will send to the email associated with this account</p>
    </div>
</form>

<input type="button" value="Edit this order" onclick="location.href='@Url.Action("EditTripButton", "Home")'" class="btn-default" />
<input type="button" value="Delete this order" onclick="location.href='@Url.Action("DeleteTrip", "Home")'" class="btn-danger" />

<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")'" class="btn-default" />
