<h1>Dave, I can't let you do that</h1>

@Html.ValidationSummary()  @*<------- *@
@ViewBag.ModelNotValid
@ViewBag.EditError
@ViewBag.DBError
@TempData["NoOrder"]
@ViewBag.NoOrder
<br />
<a href="/Home/Index">Return To Home Page</a>