@* MAKE THIS PAGE PRETTY *@

<h1>Tra-Verse</h1>
<h3>Always Moving Forward</h3><br /> <br />

@ViewBag.Error
@ViewBag.Logout
@ViewBag.LoggedOut
@TempData["AddedUser"]
@TempData["Error"]

<a href="/User/Logout">Log Out</a>
<form action="/User/LoginButton" method="post">

    <label class="control-label">Email</label>
    <input type="text" name="Email" id="loginEmail" onchange="return validate()" class="form-control" />
    <div id="result"></div>


    <label class="control-label">Password</label>
    <input type="password" name="Password" id="loginPassword" onchange="return passValidate()" class=" form-control">
    <div id="passResult"></div>

    <input type="submit" value="Log In!" class="btn-default" /><!--Log in button-->

</form>

<h2>Register New User:</h2><br />
<form action="/User/RegisterUser" method="post">
    <label class="control-label">Email</label>
    <input type="text" name="Email" id="regEmail" onchange="return emailValidate()" class="form-control" />
    <div id="regEmailResult"></div>

    <label class="control-label">Password</label>
    <input type="password" name="Password" id="regPassword" onchange="return regPassValidate()" class=" form-control">
    <div id="regPassResult"></div>

    <label class="control-label">Confirm Password</label>
    <input type="password" id="confPass" onchange="return confPassValidate()" class=" form-control">
    <div id="confResult"></div>

    <input type="submit" value="Register!" class="btn-default" /><!--registration button-->
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="~/Scripts/JSValidation.js"></script>


