
<h1>Update Your Order</h1>
<br />
<p>Planet Name: @ViewBag.Vacation.PlanetName</p>
<hr />
<h4>Booked with: @ViewBag.Vacation.CompanyName</h4>
<br />
<img src="@ViewBag.Vacation.PlanetImage" height="200" width="200" align="middle" />
<p>Destination Rating: @ViewBag.Vacation.Rating</p>
<p>Total Price: @ViewBag.Vacation.Price</p>@*PRICE WILL NOT CHANGE*@
        
<form action="/Home/EditTripInDB" method="post">
    <input type="hidden" name="BasePrice" value="@ViewBag.Vacation.Price" /> @*DO WE NEED TO UPDATE THIS??*@
    <br />
    <p>Exosuit for exploration outside aircraft? </p>
    <input type="radio" value="Yes" name="ExoSuit" /><span>Yes +$500,000</span> <br />
    <input type="radio" value="No" name="ExoSuit" /><span>No +$0</span><br />
    <br />
    <p>Ship Choice:</p>
    <img src="https://cdn.mos.cms.futurecdn.net/eJCVbwUPfV9Mx7sH7bdPRj-970-80.jpg" height="50" width="65" />
    <input type="radio" value="1" name="ShipType" /> <span>+$100,000</span><br />
    <img src="http://www.ex-astris-scientia.org/scans/factfiles/raven-cgi.jpg" height="50" width="65" />
    <input type="radio" value="2" name="ShipType" /><span>+$200,000</span><br />
    <img src="https://vignette.wikia.nocookie.net/memory-gamma/images/9/99/Renovamen_Class.jpg/revision/latest?cb=20160303004949" height="50" width="65" />
    <input type="radio" value="3" name="ShipType" /><span>+$300,000</span>
    <br />
    <label>Start Date: </label><input type="date" name="DateStart" value="8018-12-14" />@*CHANGE TO DATE TIME FOR CALC*@
    <label>End Date: </label><input type="date" name="DateEnd" value="8018-12-15" /><br />

    <input type="submit" value="Edit Trip Details" style="color:black"/>
</form>
