@{ 
    string path = "/Content/Images/Planets/";
}
<h1>Update Your Order</h1>
<br />
<h2>Planet Name: @ViewBag.Vacation.PlanetName</h2>
<img src="@String.Concat(path, ViewBag.Vacation.PlanetImage)" height="200" width="200" align="middle" />
<hr />
<h4>Booked with: @ViewBag.Vacation.CompanyName</h4>
<br />
<p>Destination Rating: @ViewBag.Vacation.Rating</p>
<p>Total Price: @ViewBag.Vacation.Price</p>@*PRICE WILL NOT CHANGE*@
        
<form action="/Home/EditTripInDB" method="post">
    <input type="hidden" name="BasePrice" value="@ViewBag.Vacation.Price" /> @*NO CHANGE*@
    <br />
    <p>Spacesuit for exploration outside aircraft? </p>
    <input type="radio" value="Yes" name="ExoSuit" /><span>Yes +$500,000</span> <br />
    <input type="radio" value="No" name="ExoSuit" /><span>No +$0</span><br />
    <br />
    <p>Please Select a Ship Option:</p>
    <img src="https://cdn.mos.cms.futurecdn.net/eJCVbwUPfV9Mx7sH7bdPRj-970-80.jpg" height="100" width="125" />
    <input type="radio" value="1" name="ShipType" /> <span>+$100,000</span><br />
    <img src="http://www.ex-astris-scientia.org/scans/factfiles/raven-cgi.jpg" height="100" width="125" />
    <input type="radio" value="2" name="ShipType" /><span>+$200,000</span><br />
    <img src="https://vignette.wikia.nocookie.net/memory-gamma/images/9/99/Renovamen_Class.jpg/revision/latest?cb=20160303004949" height="100" width="125" />
    <input type="radio" value="3" name="ShipType" /><span>+$300,000</span>
    <br />
    <br />
    <p>Specify the dates: </p>
    <label>Start Date: </label><input type="date" name="DateStart" value="8018-12-14" style="color:black"/>
    <label>End Date: </label><input type="date" name="DateEnd" value="8018-12-15" style="color:black"/><br />
    <br />
    <input type="submit" value="Edit Trip Details" style="color:black"/>
</form>
