
<h1>Choose Your Vacation :)</h1>
@TempData["LoggedIn"]

@for (int i = 0; i <= 10; i++)
{
    <p>Business Price: @ViewBag.YelpInfo["businesses"][i]["price"]</p>
    <p>Review count: @ViewBag.YelpInfo["businesses"][i]["review_count"]</p>
    <p>Rating: @ViewBag.YelpInfo["businesses"][i]["rating"]</p>
    <p>Planet Name: @ViewBag.Example[i]["pl_name"] parsecs</p>
    <p>Distance from Earth: @ViewBag.Example[i]["st_dist"] parsecs</p>
    <br />
}