@{
    string[] shipImages = new string[10] { "https://images-assets.nasa.gov/image/PIA03456/PIA03456~small.jpg", "https://images-assets.nasa.gov/image/PIA14888/PIA14888~medium.jpg", "https://images-assets.nasa.gov/image/PIA00104/PIA00104~medium.jpg", "https://images-assets.nasa.gov/image/PIA16853/PIA16853~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001427/GSFC_20171208_Archive_e001427~medium.jpg", "https://www.nasa.gov/centers/goddard/images/content/169859main_Art_Planet_sm.jpg", "https://cdn.zmescience.com/wp-content/uploads/2016/08/600px-Venus_in_Real_Color_28Mosaic29.jpg", "https://news-cdn.softpedia.com/images/fitted/620x/NASA-Wants-to-Send-Astronauts-to-Venus-Have-Them-Study-the-Planet-468012-2.jpg", "https://images-assets.nasa.gov/image/PIA03152/PIA03152~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000132/GSFC_20171208_Archive_e000132~medium.jpg" };
}


<h1>Choose Your Vacation :)</h1>
@TempData["LoggedIn"]
@*@using (Html.BeginForm("TripList", "Home"))
    {
        @Html.TextBox("search by")
        <input type="submit" value="submit" />
    }*@
<br />
<br />
<p> Distance Index: 1 Parsec = 3.26 Light-years</p>
<br />
<br />
@*Search function!!!!!!!!!!!!*@
@for (int i = 0; i < 10; i++)
{
    <div>
        <img src=@shipImages[i] alt=@ViewBag.NASAInfo[i]["pl_name"] height="200" width="200" align="left">
        <span>Planet Name: @ViewBag.NASAInfo[i]["pl_name"]</span><br />
        <p>Distance from Earth: @ViewBag.NASAInfo[i]["st_dist"] parsecs</p>
        <p>Trip base price: @ViewBag.YelpInfo["businesses"][i]["price"]</p>
        <p>@ViewBag.YelpInfo["businesses"][i]["review_count"] Current Reviews</p>
        <p>Rating: @ViewBag.YelpInfo["businesses"][i]["rating"]</p>
        <a class="btn-default" href="/Home/PrivateAccomodations?index=@i">Choose this Destination</a><br /><br /><br />
    </div>
    <br />

}
@*<a href="/Home/PrivateAccomodations?index=@i">Choose this Destination</a>*@