
<h2>Public Trip List</h2>


@{
    int flightnumber;
    string[] shipImages = new string[10] { "https://images-assets.nasa.gov/image/PIA03456/PIA03456~small.jpg", "https://images-assets.nasa.gov/image/PIA14888/PIA14888~medium.jpg", "https://images-assets.nasa.gov/image/PIA00104/PIA00104~medium.jpg", "https://images-assets.nasa.gov/image/PIA16853/PIA16853~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001427/GSFC_20171208_Archive_e001427~medium.jpg", "https://www.nasa.gov/centers/goddard/images/content/169859main_Art_Planet_sm.jpg", "https://cdn.zmescience.com/wp-content/uploads/2016/08/600px-Venus_in_Real_Color_28Mosaic29.jpg", "https://news-cdn.softpedia.com/images/fitted/620x/NASA-Wants-to-Send-Astronauts-to-Venus-Have-Them-Study-the-Planet-468012-2.jpg", "https://images-assets.nasa.gov/image/PIA03152/PIA03152~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000132/GSFC_20171208_Archive_e000132~medium.jpg" };
}

<h1>Choose Your Vacation :)</h1>
<h3><a href="/Home/EditTrip">EDIT YOUR CURRENT TRIP</a></h3>

@TempData["LoggedIn"]
@for (int i = 0; i < 25; i++)
{
    flightnumber=ViewBag.Travel["results"][0]["itineraries"][0]["outbound"]["flights"][0]["flight_number"];
    while (flightnumber / 1000 == i)
    {
        <div>
            @*<img src=@shipImages[i] alt=@ViewBag.NASA[i]["pl_name"] height="200" width="200" align="left">*@
            <span>Planet Name: @ViewBag.NASA[flightnumber/1000]["pl_name"]</span>
            <p>
                Distance from Earth: @ViewBag.NASA[flightnumber/1000]["st_dist"] parsecs
                *Unit of distance where 1 parsec equals the distance from the Earth to Sun
            </p>
            <p>Flight Number: @flightnumber</p>
            @*<p>Review count: @ViewBag.YelpInfo["businesses"][i]["review_count"]</p>
                <p>Rating: @ViewBag.YelpInfo["businesses"][i]["rating"]</p>*@

        </div>
        <br />

    }

}