<h2>Cruise-Style Trip List</h2>

@{
    string[] companyName = new string[3] { "Delta", "Spirit", "Infinity" };
    string[] shipImages = new string[3] { "https://cdn.mos.cms.futurecdn.net/eJCVbwUPfV9Mx7sH7bdPRj-970-80.jpg", "http://www.ex-astris-scientia.org/scans/factfiles/raven-cgi.jpg", "https://vignette.wikia.nocookie.net/memory-gamma/images/9/99/Renovamen_Class.jpg/revision/latest?cb=20160303004949" };
    var trips = ViewBag.TripList;
    string[] planets = ViewBag.PlanetList;

}
<h1>Choose Your Cruise-Style Vacation :)</h1>
@ViewBag.ChooseNewVacation
@TempData["LoggedIn"]
@for (int i = 0; i < 29; i++)
{
    int p = trips[i].PlanetIndex;
    var travel = ViewBag.Travel[p]["itineraries"][0]["outbound"]["flights"][0];
    string priceString = ViewBag.Travel[p]["fare"]["total_price"].ToString();
    float priceBeforeTotal = float.Parse(priceString);
    <br />
    <br />
    <hr />
    <div>
        <h3>@trips[i].NumberOfDays-Day Trip To @ViewBag.NASA[p]["pl_name"]</h3>
        <img src="@ViewBag.PlanetPic[p]" height="200" width="200" align="left">
        <br />
        <p>Company Name:@companyName[trips[i].CompanyIndex]</p>
        <img src="@shipImages[trips[i].CompanyIndex]" height="100" width="100" align="right" />
        <p>Departure Date: @ViewBag.Travel[p]["itineraries"][0]["outbound"]["flights"][0]["departs_at"]</p>
        <h3>Base Price : $@(priceBeforeTotal * 2319)</h3>
        <p>Rating: @ViewBag.Yelp["businesses"][p]["rating"]</p>
        <form action="/Public/PublicAccomodations" method="post">
            <input type="hidden" name="PlanetIndex" value="@trips[i].PlanetIndex">
            <input type="hidden" name="CompanyIndex" value="@trips[i].CompanyIndex">
            <input type="hidden" name="NumberOfDays" value="@trips[i].NumberOfDays">
            <input type="hidden" name="TravelIndex" value="@trips[i].TravelIndex">
            <input type="submit" value="Choose this Vacation" class="btn-default" style="color: black">
        </form>
    </div>
    <br />
}
@*<p>Rooms remaining: @(ViewBag.Travel[p]["itineraries"][0]["outbound"]["flights"][0]["booking_info"]["seats_remaining"]* trips[i].NumberOfDays)</p>*@
@*<p>Review count: @ViewBag.Yelp["businesses"][p]["review_count"]</p>*@
@*<p>
        Distance from Earth: @ViewBag.NASA[p]["st_dist"] parsecs
        *Unit of distance where 1 parsec equals the distance from the Earth to Sun
    </p>*@