@model Tra_Verse.Models.TripListObject
<h2>Cruise-Style Trip List</h2>

@{
    string[] companyName = new string[3] { "Delta", "Spirit", "Infinity" };
    string[] shipImages = new string[3] { "https://cdn.mos.cms.futurecdn.net/eJCVbwUPfV9Mx7sH7bdPRj-970-80.jpg", "http://www.ex-astris-scientia.org/scans/factfiles/raven-cgi.jpg", "https://vignette.wikia.nocookie.net/memory-gamma/images/9/99/Renovamen_Class.jpg/revision/latest?cb=20160303004949" };
    string[] PlanetImages = new string[10] { "https://images-assets.nasa.gov/image/PIA03456/PIA03456~small.jpg", "https://images-assets.nasa.gov/image/PIA14888/PIA14888~medium.jpg", "https://images-assets.nasa.gov/image/PIA00104/PIA00104~medium.jpg", "https://images-assets.nasa.gov/image/PIA16853/PIA16853~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001427/GSFC_20171208_Archive_e001427~medium.jpg", "https://www.nasa.gov/centers/goddard/images/content/169859main_Art_Planet_sm.jpg", "https://cdn.zmescience.com/wp-content/uploads/2016/08/600px-Venus_in_Real_Color_28Mosaic29.jpg", "https://news-cdn.softpedia.com/images/fitted/620x/NASA-Wants-to-Send-Astronauts-to-Venus-Have-Them-Study-the-Planet-468012-2.jpg", "https://images-assets.nasa.gov/image/PIA03152/PIA03152~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000132/GSFC_20171208_Archive_e000132~medium.jpg" };
    var trips = ViewBag.TripList;
}
<h1>Choose Your Cruise-Style Vacation :)</h1>

@TempData["LoggedIn"]
@for (int i = 0; i < 25; i++)
{
    //Model trip = trips[i];
    int j = trips[i].PlanetIndex;
    var travel = ViewBag.Travel[j]["itineraries"][0]["outbound"]["flights"][0];

<div>
    <img src=@PlanetImages[9] alt=@ViewBag.NASA[j]["pl_name"] height="200" width="200" align="left">
    <br />
    <p>Company Name:@companyName[trips[i].CompanyIndex]</p>
    <img src="@shipImages[trips[i].CompanyIndex]" height="100" width="100" align="left"/>
    <span>Planet Name: @ViewBag.NASA[j]["pl_name"]</span>
    <p>
        Distance from Earth: @ViewBag.NASA[j]["st_dist"] parsecs
        *Unit of distance where 1 parsec equals the distance from the Earth to Sun
    </p>
    <p>Departure Date: @ViewBag.Travel[j]["itineraries"][0]["outbound"]["flights"][0]["departs_at"]</p>
    <p>Number of Days: @trips[i].NumberOfDays</p>
    <p>Rooms remaining: @ViewBag.Travel[j]["fare"]["total_fares"]</p>

    <p>Review count: @ViewBag.Yelp["businesses"][j]["review_count"]</p>
    <p>Rating: @ViewBag.Yelp["businesses"][j]["rating"]</p>
    <form action="/Public/PublicAccomodations" method="post">
        <input type="hidden" name="PlanetIndex" value="@trips[i].PlanetIndex">
        <input type="hidden" name="CompanyIndex" value="@trips[i].CompanyIndex">
        <input type="hidden" name="NumberOfDays" value="@trips[i].NumberOfDays">
        <input type="hidden" name="TravelIndex" value="@trips[i].TravelIndex">
        <input type="submit" value="Choose this Vacation" class="btn-default">
    </form>
    @*<input type="button" class="btn-default" name="@trips[i]" value="Choose" onclick= "window.location='@Url.Action("PublicAccomodations", "Public", new object { tripIndices = Model.CompanyIndex })'" />*@
</div>
    <br />

    // array of company names, and ship images
    // display by company index, company index

}